# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*

# =========================
# Dataset (DO NOT UPLOAD)
# =========================
data/
data_augmented/

# =========================
# Outputs (models, plots, logs)
# =========================
outputs/
*.pth
*.pt

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp